@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .btn {
        @apply h-10 rounded-full px-5 flex items-center justify-center gap-[10px] transition-all duration-150 text-primary hover:bg-lightprimary shadow-custom-3xl;
    }

    .icon-btn {
        @apply w-10 h-10 px-0 bg-white shadow-custom-3xl;
    }

    .btn p {
        @apply font-bold whitespace-nowrap;
    }

    .btn.btn-primary {
        @apply border border-primary bg-primary hover:border-darkprimary hover:bg-darkprimary;
    }

    .btn.btn-primary p {
        @apply text-white;
    }

    .btn.btn-outline {
        @apply border border-primary hover:bg-lightprimary;
    }

    .btn.btn-disabled {
        @apply border border-verylightgray bg-verylightgray;
    }

    .btn.btn-disabled p {
        @apply text-lightgray;
    }

    .btn.btn-white {
        @apply border border-white hover:border-lightprimary bg-white hover:bg-lightprimary;
    }

    .btn.btn-outline p {
        @apply text-primary;
    }

    .btn-link {
        @apply shadow-none hover:bg-transparent;
    }

    .black-opacity {
        @apply fixed inset-0 bg-black bg-opacity-25 z-30;
    }
    
    .err{
        @apply text-xs text-red-500 font-semibold mt-1 ml-5;
    }
}

*:focus {
    outline: none;
    -moz-outline: none;
}

header{
    @apply flex items-center justify-between h-20 px-5 shadow-md;
}
.below-header-section{
    height:calc(100vh - 80px);
}

.sidebar{
    @apply w-[250px] bg-white shadow-lg h-full;
}
.sidebar-item{
    @apply flex items-center h-12 px-5 m-2 rounded-lg gap-x-5 transition opacity-50 first-of-type:mt-5 brightness-0;
}
.sidebar-item p{
    @apply text-[15px] font-bold;
}
.sidebar-item.active{
    @apply opacity-90 bg-lightprimary filter-none;
}
.sidebar-item.active p{
    @apply text-primary;
}

.main-section{
    @apply px-6 py-[30px] overflow-y-auto flex-grow;
    height:calc(100vh - 80px);
}
.main-section-header > div > h2{
    @apply text-3xl font-semibold;
}
.main-section-header > div > p{
    @apply text-sm text-gray-600 font-semibold mt-2;
}

.table-section{
    @apply border border-gray-300 rounded-xl w-full mt-5;
}
table{
    @apply w-full;
}
.table-row{
    @apply border-t border-gray-300 even:bg-gray-100;
}
td, th{
    @apply text-left px-5 py-4;
}
th{
    @apply text-xs font-bold uppercase;
}
